/* Variables
======================*/
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap");

// Color
$main_color: #ec661f;
$black_color: #030404;
$white_color: #ffffff;
$facebook: #1877f2;
$instagram: #e4405f;
$youtube: #cd201f;
$tiktok: #fff;
$linkedin: #0a66c2;
$whatsapp: #25d366;
$telegram: #00aff0;
$google: #cd201f;
$pinterest-p: #bd081c;

// Font Setting
$main_font: "Almarai", sans-serif;
$weight_xbold: 700;
$weight_bold: 400;
$weight_reg: 300;

// Icons
$icon-add: "\e91c";
$icon-access_time: "\e906";
$icon-bar_chart: "\e909";
$icon-share: "\e90a";
$icon-language: "\e90b";
$icon-logout: "\e917";
$icon-facebook: "\e901";
$icon-linkedin: "\e902";
$icon-files: "\e918";
$icon-bookmark: "\e915";
$icon-check: "\e919";
$icon-chevron-down: "\e90c";
$icon-eye: "\e90d";
$icon-eye-off: "\e90e";
$icon-instagram: "\e904";
$icon-lock: "\e90f";
$icon-mail: "\e905";
$icon-phone: "\e907";
$icon-shopping-cart: "\e910";
$icon-user: "\e91a";
$icon-users: "\e916";
$icon-youtube: "\e900";
$icon-out: "\e920";
$icon-menu: "\e91f";
$icon-google: "\f1a0";
$icon-cc-visa: "\f1f0";
$icon-pinterest-p: "\f231";
$icon-whatsapp: "\f232";
$icon-telegram: "\f2c6";
$icon-cog: "\e91b";
$icon-credit-card: "\e91d";
$icon-cross: "\e911";
$icon-location-pin: "\e908";
$icon-minus: "\e91e";
$icon-calendar: "\e912";
$icon-tiktok: "\e903";
$icon-write: "\e921";
$icon-search: "\e913";
$icon-video-camera: "\e914";

